node_modules
**/node_modules
**/.next
**/.git
**/*.tar
**/*.tgz
atrako-web.tar
beefree-sdk-docs-main
archive
apps/commerce
apps/social-source
apps/crm
apps/agenda
**/lib/generated/**/node_modules
**/.DS_Store
**/tmp
**/*.log
**/.env
**/.env.*
!**/.env.example
