CREATE TABLE IF NOT EXISTS "SheetsConfig" (id TEXT PRIMARY KEY, clienteId TEXT UNIQUE, spreadsheetId TEXT NOT NULL, abaMetaRange TEXT, abaGoogleRange TEXT, enabled BOOLEAN DEFAULT TRUE, createdAt TIMESTAMP DEFAULT NOW(), updatedAt TIMESTAMP DEFAULT NOW(), lastSyncAt TIMESTAMP, lastSyncError TEXT, lastSyncRowsProcessed INTEGER);
